@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    font-family: "Open Sans", monospace;
    margin-left: 30px;
    margin-right: 18px;
    background-color: rgb(163, 161, 159);
}

.btn-success{
 float: right;
}
.card-img-top{
 border-radius: 10%;
}
.carlogo{
    width: 90px;
}